# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [14]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [15]:
#import data from url
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [16]:
chipo = pd.read_csv(url, sep='\t') #read data from url
#save data to local
chipo.to_csv('chipotle.csv', index=False)

### Step 4. How many products cost more than $10.00?

In [26]:
#how many products cost more than $10.00?   
chipo.item_price = chipo.item_price.str.replace('$', '').astype(float) #convert item_price to float
chipo10 = chipo.query('item_price > 10.00')
chipo10.item_name.nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [31]:
item_name_price=chipo[['item_name', 'item_price']] #create a new dataframe with item_name and item_price 
item_name_price=item_name_price.drop_duplicates() #remove duplicates as there are multiple entries for the same item_name and price are linked with that item_name
# item_name_price=item_name_price.sort_values('item_price', ascending=False)  #sort the values from high to low 
item_name_price

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

### Step 6. Sort by the name of the item

In [35]:
chipo.sort_values('item_name').head(10) 
# chipo.item_name.sort_values().head(10)

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49
3422      1373         1  6 Pack Soft Drink             [Coke]        6.49
553        230         1  6 Pack Soft Drink        [Diet Coke]        6.49
1916       774         1  6 Pack Soft Drink        [Diet Coke]        6.49
1922       776         1  6 Pack Soft Drink             [Coke]        6.49
1937       784         1  6 Pack Soft Drink        [Diet Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [39]:
#what was the quantity of the most expensive item ordered?
chipo.sort_values('item_price', ascending=False).head()

# since most expensive is of 44.25 the quantity is 15

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [47]:
#how many times were a Veggie Salad Bowl ordered?
chipo_salad = chipo.query('item_name == "Veggie Salad Bowl"') #create a new dataframe with only Veggie Salad Bowl
chipo_salad.item_name.count() # count how many times the item_name is Veggie Salad Bowl

# len (chipo_salad) #since we have already created a new dataframe with only Veggie Salad Bowl, we can use len to count the number of rows

18

### Step 9. How many times did someone order more than one Canned Soda?

In [53]:
#How many times did someone order more than one Canned Soda?
chipo_soda = chipo.query('item_name == "Canned Soda" and  quantity > 1') #create a new dataframe with only Canned Soda and quantity more than 1
chipo_soda.count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64