# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [71]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [72]:
#import data from url
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [73]:
chipo = pd.read_csv(url, sep='\t') #read data from url
#save data to local
# chipo.to_csv('chipotle.csv', index=False)

### Step 4. See the first 10 entries

In [74]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [75]:

chipo.shape[0] #number of observations in the dataset
#df.shape() returns a tuple of (rows, columns) in the dataset

4622

In [76]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [77]:
chipo.shape[1] #number of columns in the dataset

5

### Step 7. Print the name of all the columns.

In [78]:
chipo.columns #print the name of all the columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [79]:
chipo.index #print the index of the dataset ,start,stop,step

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [80]:
c = chipo.groupby('item_name') #groupby item_name
c = c.sum() #sum the values of the grouped data
c = c.sort_values(['quantity'], ascending=False) #sort the quantity values from high to low for each  group of item_name
c.head(1) #print the first row of the sorted data

C:\Users\amrit\AppData\Local\Temp\ipykernel_13512\1993612021.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = c.sum() #sum the values of the grouped data

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [81]:
c = chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False) # one liner solution
c.head(1) #print the first row of the sorted data

C:\Users\amrit\AppData\Local\Temp\ipykernel_13512\1333045708.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False) # one liner solution

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [82]:
c = chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False) # one liner solution
c.head(1) #print the first row of the sorted data

C:\Users\amrit\AppData\Local\Temp\ipykernel_13512\2093180226.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False) # one liner solution

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [83]:

total_items_orders = chipo.quantity.sum() #sum the quantity column
total_items_orders

4972

### Step 13. Turn the item price into a float

In [84]:
# rm_dollar = lambda x: float(x[1:]) # lambda function to remove dollar sign and convert to float  as dollar sign in position 0 
# chipo.item_price = chipo.item_price.apply(rm_dollar) # update the item_price column with the new values
# chipo.head(10)

#### Step 13.a. Check the item price type

In [85]:

chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [86]:
rm_dollar = lambda x: float(x[1:]) # lambda function to remove dollar sign and convert to float  as dollar sign in position 0 
chipo.item_price = chipo.item_price.apply(rm_dollar) # update the item_price column with the new values

#### Step 13.c. Check the item price type

In [87]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [97]:
#how much was the revenue for the period in the dataset
# mupltiply the quantity and item_price columns and sum the values
revenue = (chipo.quantity*chipo.item_price).sum()
revenue

39237.02

### Step 15. How many orders were made in the period?

In [106]:
#how many orders were made in the period
orders = chipo.order_id.value_counts() #value_counts() returns the number of unique values in the column
orders_no=orders.count() #count() returns the number of unique values in the column
orders_no

1834

### Step 16. What is the average revenue amount per order?

In [107]:
#what is the average revenue amount per order
average= revenue/orders_no
average

21.39423118865867

In [89]:
# Solution 2

### Step 17. How many different items are sold?

In [108]:
#how many different items are sold
items_no = chipo.item_name.value_counts().count()
items_no

50